/*
Design and programming by WebAriel
Visit http://webariel.hu
E-mail: info@webariel.hu
*/
/* 
    Created on : 2015.01.24., 18:41:08
    Author     : udvari.szabolcs
*/

address {
    font-size: 1.2em;
}

.widget-contact-center {
	text-align: center;
	font-size: 1.3em;
}